<section class="columns">
    <div class="column col-6 col-sm-12 col-mx-auto">
        <h2 class="text-center">Login</h2>
        <form name="loginForm"
            data-ng-submit="authCtrl.login()">
            <div class="form-group">
                <label class="form-label" for="email">Email *</label>
                <input class="form-input"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="john.doe@test.com"
                    data-ng-class="{ 'is-error': loginForm.email.$invalid }"
                    data-ng-required="auth.data.email"
                    data-ng-model="auth.data.email">
                <p class="form-input-hint"
                    data-ng-show="loginForm.email.$invalid">Email is invalid</p>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input class="form-input"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    data-ng-class="{ 'is-error': loginForm.password.$invalid && loginForm.password.$dirty }"
                    data-ng-required="auth.data.password"
                    data-ng-model="auth.data.password"
                    data-ng-minlength="5">
                <p class="form-input-hint"
                    data-ng-show="loginForm.password.$invalid">Password is too short</p>
            </div>
            <div class="form-group">
                <br>
                <input class="btn btn-primary btn-block" type="submit" value="Login">
            </div>
        </form>
    </div>
</section>
