<section class="columns">
    <div class="panel col-5 col-sm-12 col-mx-auto">
        <header class="panel-header text-center">
            <h2 class="panel-title">Account information</h2>
        </header>
        <div class="panel-body">
            <div class="tile tile-centered">
                <div class="tile-content">
                    <div class="tile-title text-bold">Username</div>
                    <div class="tile-subtitle">{{ profile.data.name }}</div>
                </div>
                <div class="tile-action">
                    <button class="btn btn-link btn-action btn-lg tooltip tooltip-left"
                        data-tooltip="Edit username"
                        data-ng-click="profileCtrl.enterUserName()">
                        <i class="icon icon-edit"></i>
                    </button>
                </div>
            </div>
            <div class="tile tile-centered mt-2">
                <div class="tile-content">
                    <div class="tile-title text-bold">Account</div>
                    <div class="tile-subtitle">{{ profile.data.email }}</div>
                </div>
                <div class="tile-action">
                    <button class="btn btn-link btn-action btn-lg tooltip tooltip-left"
                        data-tooltip="Delete account"
                        data-ng-click="profileCtrl.deleteAccount()">
                        <i class="icon icon-delete text-error"></i>
                    </button>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <button class="btn btn-primary btn-block"
                data-ng-if="!isLoading"
                data-ng-click="profileCtrl.updateUserData()">Save</button>
            <div class="loading loading-lg" data-ng-if="isLoading"></div>
        </footer>
    </div>
</section>
