<section class="columns">
    <div class="column col-12">
        <h3 class="text-center">{{ ::room.data.name }}</h3>
        <div class="text-center">
            Created:
            <time datetime="{{ room.data.dateCreated }}">{{ ::room.data.dateCreated | date }}</time>
        </div>
        <div class="text-center">
            Participants:
            <span class="chip" data-ng-repeat="participant in room.data.participants">
                {{ participant._id === room.data.adminId ? '*' : '' }} {{ ::participant.name }}
            </span>
            <span class="chip">
                <button class="btn btn-link tooltip"
                    data-tooltip="Add new member"
                    data-ng-click="roomCtrl.openInvitePopup()">
                    <i class="icon icon-plus text-dark"></i>
                </button>
            </span>
        </div>
        <div class="divider"></div>
    </div>

    <div class="column col-8 col-mx-auto bg-gray" style="margin-bottom: 110px;">
        <div class="loading loading-lg text-center" data-ng-if="isLoading"></div>
        <ul data-ng-if="!isLoading" style="margin: 20px;">
            <li data-ng-repeat="message in room.history"
                data-ng-init="isMe = roomCtrl.checkIsMe(message.user._id);"
                data-ng-class="{ 'text-right': isMe }"
                style="list-style-type: none;">

                <span data-ng-if="$last"
                    data-ng-init="roomCtrl.scrollToLastMessage()"
                    id="lastMessage">
                </span>

                <div class="column"
                    data-ng-class="{ 'popover popover-left': isMe }">
                    <span>
                        <span class="text-bold">{{ ::message.user.name }}</span>
                        <pre style="margin: 0;">{{ ::message.text }}</pre>
                    </span>
                    <div data-ng-if="isMe"
                        class="popover-container bg-dark"
                        style="width: auto; display: flex;">
                        <button class="btn btn-link"
                            data-ng-click="roomCtrl.editMessage(message)">
                            <i class="icon icon-edit text-warning"></i>
                        </button>
                        <button class="btn btn-link"
                            data-ng-click="roomCtrl.deleteMessage(message._id)">
                            <i class="icon icon-delete text-error"></i>
                        </button>
                    </div>
                </div>

            </li>
        </ul>
        <em data-ng-if="room.isTyping">Someone is typing a message...</em>
    </div>

    <div class="message-form column col-8 col-mx-auto">
        <form class=" form-horizontal">
            <div class="form-group">
                <span class="col-11">
                    <textarea class="form-input"
                        data-ng-model="room.message"
                        data-ng-change="roomCtrl.onTypeMessage()"
                        placeholder="Write a message..."
                        rows="3"></textarea>
                </span>
                <span class="col-1 text-center">
                    <button class="btn btn-lg btn-primary" data-ng-click="roomCtrl.sendMessage()">{{ room.editingMessageId ? 'Update': 'Send' }}</button>
                </span>
            </div>
        </form>
    </div>

    <div data-scroll-top></div>
    <div data-popup="room.inviteUsersPopup">
        <popup-title><h4>Select users to add</h4></popup-title>
        <popup-body>
            <div class="loading loading-lg text-center" data-ng-if="isLoading"></div>
            <ul data-ng-if="!isLoading && room.inviteUsersList">
                <li class="d-flex" style="justify-content: space-between;" data-ng-repeat="user in room.inviteUsersList">
                    {{ ::user.name }}
                    <button class="btn btn-primary" data-ng-click="roomCtrl.addParticipant(user._id)">Add</button>
                </li>
            </ul>
        </popup-body>
    </div>
</section>
