<section class="columns">
    <div class="column col-12">
        <h3 class="text-center">{{ room.data.name }}</h3>
        <div class="text-center">
            Created:
            <time datetime="{{ room.data.dateCreated }}">{{ room.data.dateCreated | date }}</time>
        </div>
        <div class="text-center">
            Participants:
            <span class="chip" data-ng-repeat="participant in room.data.participants">{{ participant.name }}</span>
        </div>
        <div class="divider"></div>
    </div>

    <div class="column col-8 col-mx-auto bg-gray" style="margin-bottom: 110px;">
        <div class="loading loading-lg text-center" data-ng-if="isLoading"></div>
        <ul data-ng-if="!isLoading">
            <li data-ng-class="{ 'text-right': roomCtrl.checkIsMe(message.user._id) }"
                data-ng-repeat="message in room.history">
                <span class="text-bold">{{ message.user.name }}</span>
                <p>{{ message.text }}</p>
            </li>
        </ul>
        <em data-ng-if="room.isTyping">Someone is typing a message...</em>
        <br>
    </div>

    <div class="message-form column col-8 col-mx-auto">
        <form class=" form-horizontal">
            <div class="form-group">
                <span class="col-11">
                    <textarea
                        class="form-input"
                        data-ng-model="room.message"
                        data-ng-change="roomCtrl.onTypeMessage()"
                        placeholder="Write a message..."
                        rows="3"></textarea>
                </span>
                <span class="col-1 text-center">
                    <button class="btn btn-lg btn-primary" data-ng-click="roomCtrl.sendMessage()">Send</button>
                </span>
            </div>
        </form>
    </div>
</section>
