<section class="columns">
    <div class="column">
        <h2 class="text-center">Your chats</h2>
        <!-- <div class="input-group col-6 col-mx-auto">
            <input type="text" class="form-input" placeholder="Search for chats">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div> -->
        <div class="divider"></div>

        <div class="col-6 col-mx-auto text-right">
            <button class="btn btn-success" data-ng-click="roomListCtrl.createRoom()">Create chat</button>
        </div>

        <div class="loading loading-lg text-center" data-ng-if="isLoading"></div>

        <ul class="col-6 col-mx-auto" data-ng-if="roomList.rooms.length && !isLoading">
            <li class="columns" data-ng-repeat="room in roomList.rooms">
                <span class="column col-7">{{ ::room.name }}</span>
                <span class="column col-5 text-right">
                    <button class="btn btn-link tooltip"
                        data-tooltip="Rename"
                        data-ng-click="roomListCtrl.renameRoom(room)">
                        <i class="icon icon-edit text-warning"></i>
                    </button>
                    <button class="btn btn-link tooltip"
                        data-tooltip="Delete"
                        data-ng-click="roomListCtrl.deleteRoom(room._id)">
                        <i class="icon icon-delete text-error"></i>
                    </button>
                    <button class="btn" data-ng-click="roomListCtrl.openRoom(room._id)">Go to the chat</button>
                </span>

            </li>
        </ul>

        <div class="text-center" data-ng-if="!roomList.rooms.length && !isLoading">
            Your don't have any chats yet
        </div>
    </div>
</section>
